body {
  background-color: #e5e5f7;
  /* opacity: 1; */
  background-image: linear-gradient(rgba(115, 115, 115) 1px, transparent 1px),
    linear-gradient(to right, rgba(115, 115, 115) 1px, #000000 1px);
  background-size: 40px 40px;
  font-family: "Epilogue", sans-serif;
}
* {
  color: white;
}
